src/nodeflow.json
[{"id":"231598a3.e81b58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e8bb0af.02aa3","type":"websocket in","z":"231598a3.e81b58","name":"","server":"7fd112c3.f8b08c","client":"","x":160,"y":80,"wires":[["f5ce67e5.eb1738"]]},{"id":"f5ce67e5.eb1738","type":"json","z":"231598a3.e81b58","name":"","property":"payload","action":"","pretty":false,"x":390,"y":80,"wires":[["52458620.01cbc8"]]},{"id":"5031ab17.97f1d4","type":"change","z":"231598a3.e81b58","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.msg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["89358e5a.0aeaf"]]},{"id":"89358e5a.0aeaf","type":"sentiment","z":"231598a3.e81b58","name":"","property":"payload","x":680,"y":320,"wires":[["e8414262.a1d5d"]]},{"id":"e8414262.a1d5d","type":"function","z":"231598a3.e81b58","name":"","func":"return {\n    payload: msg.data.message.message\n};","outputs":1,"noerr":0,"x":890,"y":340,"wires":[["ee550ed0.8cef8"]]},{"id":"928321e8.5d379","type":"websocket out","z":"231598a3.e81b58","name":"","server":"5026b094.032e6","client":"","x":1450,"y":260,"wires":[]},{"id":"71091c18.257c84","type":"websocket in","z":"231598a3.e81b58","name":"","server":"29b5a60d.5a71ba","client":"","x":280,"y":480,"wires":[["d021ba67.87cad8"]]},{"id":"d021ba67.87cad8","type":"template","z":"231598a3.e81b58","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n <meta charset=\"utf-8\">\n <title>FRED-powered chat app</title>\n <script src=\"https://code.jquery.com/jquery-1.11.3.min.js\"></script>\n <script src=\"https:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n <style>\n #messages {border-color:#999; border-style:solid; width:250px; min-height:200px; margin:5px;}\n .msg {color:#FFF; background-color:#2980B9; padding:2px; margin:2px;}\n .server {color:#999; background-color:white; font-size:small;}\n .sentiment-3 {background-color:#992222;}\n .sentiment0 {background-color:#2980B9;}\n .sentiment3 {background-color:#229922;}\n #form {margin:5px;}\n #form input {width:250px;}\n </style>\n</head>\n<body>\n <div id=\"messages\"></div>\n <form id=\"form\" onsubmit=\"return false;\">\n <input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n </form>\n \n <script type=\"text/javascript\">\n \n // Open a websocket using FRED.\n var publishSocket = new WebSocket(\"wss://{yourusername}.fred.sensetecnic.com/api/public/messagereceive\");\n var listenSocket = new WebSocket(\"wss://{yourusername}.fred.sensetecnic.com/api/public/messagepublish\");\n \n listenSocket.onmessage = function (event) {\n // When receiving a message append a div child to #messages\n data = JSON.parse(event.data);\n $(\"#messages\").append(\"<div class='msg sentiment\"+data.sentiment+\"' >\"+data.timestamp+\" - \"+data.msg+\"</div>\")\n if ($(\"#messages\").children().length > 10 ) { $(\"#messages :first-child\").remove()}\n }\n \n listenSocket.onclose = function(event){\n $(\"#messages\").append(\"<div class='msg server'>Disconnected from server.</div>\");\n }\n \n listenSocket.onopen = function(event){\n $(\"#messages\").append(\"<div class='msg server'>Connected to server.</div>\")\n }\n \n function sendText(event) {\n // Only if return key pressed\n if (event.keyCode == 13) {\n // Construct object containing the data the server needs.\n d = new Date();\n var data = {\n msg: $(\"#text\").val(),\n timestamp: d.getHours() +\":\"+ d.getMinutes() + \":\" + d.getSeconds()\n };\n // Send the msg object as a JSON-formatted string.\n publishSocket.send(JSON.stringify(data));\n // Blank the text input element\n $(\"#text\").val(\"\");\n }\n }\n </script>\n \n</body>\n</html>","x":480,"y":480,"wires":[["35d2412a.bf9dae"]]},{"id":"35d2412a.bf9dae","type":"http response","z":"231598a3.e81b58","name":"","statusCode":"","headers":{},"x":748.0000114440918,"y":493.00000762939453,"wires":[]},{"id":"b3baaeac.de937","type":"http request","z":"231598a3.e81b58","name":"","method":"GET","ret":"obj","url":"http://95.216.241.112:8000?question={{question}}","tls":"","x":1073.0000610351562,"y":212.00000286102295,"wires":[["928321e8.5d379","85c52a5a.6f26f8"]]},{"id":"ee550ed0.8cef8","type":"change","z":"231598a3.e81b58","name":"","rules":[{"t":"set","p":"question","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":220,"wires":[["b3baaeac.de937"]]},{"id":"52458620.01cbc8","type":"switch","z":"231598a3.e81b58","name":"","property":"payload.channelType","propertyType":"msg","rules":[{"t":"eq","v":"chatbot","vt":"str"},{"t":"eq","v":"email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":240,"wires":[["5031ab17.97f1d4","bf817807.63dc28"],["cc458fe7.24737","bf817807.63dc28"]]},{"id":"bf817807.63dc28","type":"debug","z":"231598a3.e81b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":409,"y":335,"wires":[]},{"id":"80bcb4db.6fbb58","type":"e-mail","z":"231598a3.e81b58","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"SendEmail","x":370,"y":400,"wires":[]},{"id":"cc458fe7.24737","type":"function","z":"231598a3.e81b58","name":"","func":"var messagearr=msg.payload.message;\nvar body = '';\nfunction isJson(str) {\n    try {\n        JSON.parse(str);\n    } catch (e) {\n        return false;\n    }\n    return true;\n}\n\nfunction getJSONHTMLContent(conversationJson) {\n    let conversationhtml;\n            Object.keys(conversationJson).forEach(function(key) {\n                    conversationhtml=conversationhtml + \"<div>\" +key+ \":\" + conversationJson[key] + \"</div>\";\n            });\n            return conversationhtml;\n}\n\nif(messagearr.length>0) {\n    for(let i=0;i<messagearr.length;i++) {\n        let conversationItem=messagearr[i];\n        let isJson;\n        try {\n            JSON.parse(conversationItem['text']);\n            isJson=true;\n        } catch (e) {\n            isJson=false;\n        }\n        if(isJson) {\n            body=body + \"<div style=\\\"color:red;\\\">\" +conversationItem['user']+\"</div>\";\n            let conversationJson = JSON.parse(conversationItem['text']);\n            body = body + '<table style=\"width:100%; border:1px solid black; text-align: center\">';\n            let tableHeader = '';\n            let conversationhtml = '';\n            let foundTableHeader=false;\n            for (let i=0 ; i<conversationJson.length;i++) {\n                let item=conversationJson[i];\n                conversationhtml = conversationhtml + \"<tr>\";\n                Object.keys(item).forEach(function(key) {\n                    if(!foundTableHeader) {\n                        tableHeader = tableHeader + \"<th>\" + key + \"</th>\";\n                    }\n                    conversationhtml=conversationhtml + \"<td>\" + item[key] + \"</td>\";\n                });\n                conversationhtml = conversationhtml + \"</tr>\";\n                if(!foundTableHeader) {\n                    tableHeader = \"<tr>\" + tableHeader + \"</tr>\";\n                }\n                foundTableHeader=true;\n            }\n           \n            \n            conversationhtml = tableHeader + conversationhtml + \"</table>\";\n            body = body + conversationhtml;\n            \n        } else {\n            \n            body=body + \"<div><div style=\\\"min-width: 180px;display: inline-block;\\\">\" +conversationItem['user']+\"<span>:\" +conversationItem['text']+\"</span></div>\";\n        }\n    }\n}\n\n\nreturn {\n    payload: body,\n    topic: msg.payload.subject,\n    to: msg.payload.to\n    \n};","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["80bcb4db.6fbb58"]]},{"id":"3dd9d0e3.03c15","type":"template","z":"231598a3.e81b58","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<body>\n <div id=\"messages\">\n  <ul>\n  <li>Coffee</li>\n  <li>Tea</li>\n  <li>Milk</li>\n</ul>  \n </div>\n</body>\n</html>","x":200,"y":420,"wires":[[]]},{"id":"2dd93db9.5c5bb2","type":"function","z":"231598a3.e81b58","name":"","func":"msg.facebookevent = msg.messagingEvent; \n//msg.payload = 'Hello, this is all I say for now.'; \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1440,"wires":[["b877b941.67f3e8"]]},{"id":"acc6c179.df819","type":"debug","z":"231598a3.e81b58","name":"reply to facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":504,"y":1444,"wires":[]},{"id":"33c28366.86bb7c","type":"http response","z":"231598a3.e81b58","name":"","statusCode":"","headers":{},"x":710,"y":880,"wires":[]},{"id":"ac3c2266.c423c","type":"function","z":"231598a3.e81b58","name":"subscribe","func":"var mode = ''; \nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) { mode = msg.payload['hub.mode']; } \nif (msg.payload['hub.verify_token'])\n{ \n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge']) { \n    challenge = msg.payload['hub.challenge']; \n    \n} \nif ('subscribe' == mode && 'demoapp' == vtoken)\n{\n    msg.payload = challenge;\n    } \n\nreturn msg;","outputs":1,"noerr":0,"x":470.5,"y":836,"wires":[["33c28366.86bb7c"]]},{"id":"5e794f83.b0c95","type":"http in","z":"231598a3.e81b58","name":"Messenger Verification Webhook","url":"/mybot","method":"get","upload":false,"swaggerDoc":"","x":211,"y":902,"wires":[["ac3c2266.c423c"]]},{"id":"3f22079b.8f0488","type":"http in","z":"231598a3.e81b58","name":"Messenger chat listener","url":"/mybot","method":"post","upload":false,"swaggerDoc":"","x":200,"y":1040,"wires":[["3c9664bc.5da19c","1148b198.95c49e"]]},{"id":"3c9664bc.5da19c","type":"function","z":"231598a3.e81b58","name":"listen","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id; \n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for (var j =0; j < messaging.length; j++) { if (messaging[j].message) { msg.messagingEvent = messaging[j];\nnode.send([msg,null]);\n} } } } } \nreturn [null,msg];","outputs":2,"noerr":0,"x":479.5,"y":1132,"wires":[["1f775c3a.670634"],["62ece31d.682aac"]]},{"id":"1f775c3a.670634","type":"function","z":"231598a3.e81b58","name":"","func":"msg.payload=msg.payload.entry[0].messaging[0].message.text\nreturn msg;","outputs":1,"noerr":0,"x":589.5,"y":1084,"wires":[["96827d6b.3025b"]]},{"id":"96827d6b.3025b","type":"change","z":"231598a3.e81b58","name":"","rules":[{"t":"set","p":"question","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1080,"wires":[["7a0b63e8.82016c"]]},{"id":"7a0b63e8.82016c","type":"http request","z":"231598a3.e81b58","name":"","method":"GET","ret":"txt","url":"http://95.216.241.112:8000?question={{question}}","tls":"","x":590,"y":1340,"wires":[["2dd93db9.5c5bb2"]]},{"id":"62ece31d.682aac","type":"http response","z":"231598a3.e81b58","name":"","statusCode":"","headers":{},"x":747,"y":1152,"wires":[]},{"id":"1148b198.95c49e","type":"debug","z":"231598a3.e81b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":970,"wires":[]},{"id":"85c52a5a.6f26f8","type":"debug","z":"231598a3.e81b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1215.8999633789062,"y":141,"wires":[]},{"id":"b877b941.67f3e8","type":"facebook-messenger-writer","z":"231598a3.e81b58","name":"demochatapp","x":420,"y":1660,"wires":[["acc6c179.df819"]]},{"id":"7fd112c3.f8b08c","type":"websocket-listener","z":"231598a3.e81b58","path":"/public/messagereceive","wholemsg":"false"},{"id":"5026b094.032e6","type":"websocket-listener","z":"231598a3.e81b58","path":"/public/messagepublish","wholemsg":"false"},{"id":"29b5a60d.5a71ba","type":"websocket-listener","z":"231598a3.e81b58","path":"/public/chatroom","wholemsg":"false"}]
